* {
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.entrada-texto {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder {color: #0A3871;}
    .entrada-texto:focus {
        outline: none;
    }

.saida-texto {
    background: white;
    background-image: url(./img/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
   
}
.saida-texto:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.bt-criptografar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.bt-descriptografar {
    margin-left: 24px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.bt-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 135px;
    margin-top: 402px;
    position: absolute;
}

.info {
    color: #495057;
    font-size: 12px;
}